<div *ngIf="historicoPedidos$ | async as historicoPedidos; else erroOuCarregando">
  <div class="row">
    <p>Funcionou</p>
  </div>
</div>

<ng-template #erroOuCarregando>
  <ng-container *ngIf="erro; else carregando">
    <div class="col-12 text-center">
      <div class="alert alert-danger">
        Erro ao recuperar o histórico de pedidos
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #carregando>
  <div class="d-flex justify-content-center">
    <h4>Carregando...</h4>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
