<div *ngIf="carrinho$ | async as carrinho; else erroOuCarregando">
  <div *ngIf="carrinho.produtosCarrinho.length; else carrinhoVazio">
    <div class="row">
      <div class="col-md-8">
        <table class=".w-auto" hover="true" mdbTable striped="true">
          <col style="width: 50%;"/>
          <col style="width: 10%;"/>
          <col style="width: 10%;"/>
          <col style="width: 30%;"/>
          <thead>
          <tr>
            <th>
              <h5>Produto</h5>
            </th>
            <th>
              <h5>Preço</h5>
            </th>
            <th>
              <h5>Quantidade</h5>
            </th>
            <th>
              <h5>Total</h5>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let produtoCarrinho of carrinho.produtosCarrinho" mdbTableCol>
            <th>
              {{ produtoCarrinho.produto.nome }}
            </th>
            <th>
              {{ produtoCarrinho.produto.valor }}
            </th>
            <th>
              <input
                (change)="atualizarQuantidade($event, produtoCarrinho)"
                [value]="produtoCarrinho.quantidade"
                class="form-control"
                id="qtdInput"
                mdbInput
                min="1"
                step="1"
                type="number"
              />
            </th>
            <th>
              {{ produtoCarrinho.quantidade * produtoCarrinho.produto.valor }}
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <div class="alert alert-success text-center">
          <h5>Seu Pedido</h5>
          <h5>Items: {{ carrinho.produtosCarrinho.length }}</h5>
          <h5>Total:</h5>
          <button
            (click)="fecharPedido(carrinho)"
            color="success"
            mdbBtn
            mdbWavesEffect
            outline="true"
            size="sm"
            type="button"
          >
            Finalizar Pedido
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #carrinhoVazio>
    <div class="d-flex justify-content-center">
      <h4>
        Nenhum produto adicionado ao carrinho.
        <a routerLink="/"> Ver produtos.</a>
      </h4>
    </div>
  </ng-template>
</div>
<ng-template #erroOuCarregando>
  <ng-container *ngIf="erro; else carregando">
    <div class="col-12 text-center">
      <div class="alert alert-danger">
        Erro ao recuperar o carrinho
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #carregando>
  <div class="d-flex justify-content-center">
    <h4>Carregando...</h4>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
