<div *ngIf="erro">
  <div class="col-12 text-center">
    <div class="alert alert-danger">
      {{ erro }}
    </div>
  </div>
</div>

<div *ngIf="sucesso">
  <div class="col-12 text-center">
    <div class="alert alert-success">
      {{ sucesso }}
    </div>
  </div>
</div>

<div *ngIf="carregando">
  <div class="d-flex justify-content-center">
    <h4>Carregando...</h4>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div *ngIf="carrinho">
  <div *ngIf="carrinho.produtosCarrinho.length; else carrinhoVazio">
    <div class="row">
      <div class="col-lg-8">
        <table hover="true">
          <thead>
            <tr>
              <th>
                <h5>Produto</h5>
              </th>
              <th>
                <h5>Preço</h5>
              </th>
              <th>
                <h5>Quantidade</h5>
              </th>
              <th>
                <h5>Total</h5>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produtoCarrinho of carrinho.produtosCarrinho" mdbTableCol>
              <td>
                {{ produtoCarrinho.produto.nome }}
              </td>
              <td>
                {{ produtoCarrinho.produto.valor }}
              </td>
              <td>
                <input
                  (change)="atualizarQuantidade($event, produtoCarrinho)"
                  [value]="produtoCarrinho.quantidade"
                  class="form-control"
                  id="qtdInput"
                  mdbInput
                  min="1"
                  step="1"
                  type="number"
                />
              </td>
              <td>
                {{ produtoCarrinho.quantidade * produtoCarrinho.produto.valor }}
              </td>
              <td>
                <button mdbBtn mdbWavesEffect (click)="removerProduto(produtoCarrinho)">Remover</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4">
        <div class="alert alert-success text-center">
          <h5>Seu Pedido</h5>
          <h5>Items: {{ carrinho.produtosCarrinho.length }}</h5>
          <h5>Total:</h5>
          <button
            (click)="fecharPedido(carrinho)"
            color="success"
            mdbBtn
            mdbWavesEffect
            outline="true"
            size="sm"
            type="button"
            [disabled]="carregando || erro"
          >
            Finalizar Pedido
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #carrinhoVazio>
    <div class="d-flex justify-content-center">
      <h4>
        Nenhum produto adicionado ao carrinho.
        <a routerLink="/"> Ver produtos.</a>
      </h4>
    </div>
  </ng-template>
</div>
