<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top elegant-color" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <h5 class="white-text">
      E-Commerce do Eullen
    </h5>
  </mdb-navbar-brand>

  <links *ngIf="usuarioLogado; else usuarioDeslogado">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">
          <mdb-icon fas icon="home"></mdb-icon>
          Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/carrinho">
          <mdb-icon fas icon="shopping-cart"></mdb-icon>
          Carrinho
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/pedidos">
          <mdb-icon fas icon="clipboard-list"></mdb-icon>
          Pedidos
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon>
          Logout
        </a>
      </li>
    </ul>
  </links>

  <ng-template #usuarioDeslogado>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/">
            <mdb-icon fas icon="home"></mdb-icon>
            Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">
            <mdb-icon fas icon="user"></mdb-icon>
            Login
          </a>
        </li>
      </ul>
    </links>
  </ng-template>
</mdb-navbar>
