<div *ngIf="produtos$ | async as produtos; else carregando">
  <div class="row">
    <div class="col-8">
      <form class="form-inline md-form form-sm">
        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
        <input
          class="form-control form-control-sm ml-3 w-75"
          type="text"
          placeholder="Search"
          aria-label="Search"
          mdbInput
        />
      </form>
    </div>
    <div class="col-4">
      <button mdbBtn type="button" color="primary" mdbWavesEffect>Buscar</button>
    </div>
  </div>
  <div class="card-group">
    <div *ngFor="let produto of produtos" class="col-md-4">
      <app-produto [produto]="produto" (adicionarAoCarrinhoClick)="adicionarProdutoAoCarrinho(produto, $event)">
      </app-produto>
    </div>
  </div>
</div>

<ng-template #carregando>
  <div class="d-flex justify-content-center">
    <h4>Carregando...</h4>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
